body {
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: #52a1c9;
  transition: 400ms;
  border-radius: 10px;
}

.modal .button {
  color: #090808;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
  padding: 20px 50px;
}

.modal .button {
  transition: all 0.3s;
}

.modal .button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.modal .button:hover {
  letter-spacing: 1px;
}
.modal .button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.modal .button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(166, 160, 228, 0.648);
}
.modal .button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.show {
  opacity: 1;
  visibility: visible;
}
